/*  Reset da página */

body, h1, h2, h3, p, ul {
    padding: 0px;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}

/* Menu do site*/

.menu {
    background: #252525;
    padding: 20px 0;
}

.menuContainer {
    max-width: 960px;
    margin: 0 auto;
}

.menuContainer::after, .menuContainer::before {
    content: '';
    display: table;
    clear: both;
}

.menuLogo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menuNav {
    float: right;
}

.menuNav li {
    display: inline-block;
}

.menuNav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.125em;
}

/* Introdução */

.intro {
    background: url('../img/bg-intro.jpg') no-repeat center center;
    background-size: cover;
    padding: 150px 0;
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}

.intro h1::after {
    content: '';
    display: block;
    width: 20px;
    height: 4px;
    background: #fff;
    margin: 10px auto;
}

.intro p {
    font-style: italic;
    font-size: 1.125em;
}

/* Sobre */

.sobre {
    padding: 60px 0;
}

.sobreContainer {
    max-width: 960px;
    margin: 0 auto;
}

.sobreContainer::after, .sobreContainer::before {
    content: '';
    display: table;
    clear: both;
}

.sobre h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 60px;
}

.sobreItem {
    width: 460px;
    float: left;
    margin: 0 10px;
}

.sobreItem img {
    display: block;
    max-width: 100%;
}

.sobreItem h3 {
    font-size: 2.5em;
    background: #252525;
    width: 220px;
    color: white;
    font-style: italic;
    line-height: 1em;
    font-weight: normal;
    text-align: center;
    padding: 5px 0 10px 0;
    top: -25px; 
    position: relative;
}

.sobre > p {
    font-size: 1.125em;
    line-height: 1.4em;
    font-style: italic;
    text-align: center;
    margin: 20px auto;
    max-width: 460px;
}

